div{


ul{
    li{
        table{
            tr{
                td{
                    padding-right: 15px;
                }

            }
        }
    }
}
}



table{
    padding: 3%;
    li{
        tr{
            padding-left: 20px;
            padding: 0px;
            margin: 0px;


            td {
                list-style-type: none;
                padding-right: 50px;
                margin: 0px;
            }
        }
    }
}