div{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
    position: center;
    li{
        tr{
            align-content: center;
            align-self: center;
            align-items: center;
            position: center;
        }
    }
}